@font-face {
    font-family: arcade;
    src: url(https://www.dafont.com/arcade-ya.font);
    color: white;
  }
  @keyframes bg-anim {
    0%{background-position: left;}
    100%{background-position: right;}
  }
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-align: center;
    box-sizing: border-box;
}
body{
    background-image: url(space.jpg);
    background-size: contain;
    background-size: 150%;
    animation: bg-anim 400s infinite alternate;
}
div{
    border: 5px solid white;
    border-radius: 10px;
    display: grid;
    place-items: center;
    place-content: center;
    cursor: pointer;
}
.sectionGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 70vh;
    width: 70vh;
    padding: 3em;
    place-content: center;
    margin: 0 auto;
    grid-gap: 1rem;
}
span{
    font-size: 4rem;
}
h1{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: white;
    font-size: 3rem;
}
span{
    color: white;
}
.idle{
    margin: 0 auto;
    padding: 1em;
    width: 12rem;
    height: 2rem;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.1s;
}
.active{
    margin: 0 auto;
    padding: 1em;
    width: 12rem;
    height: 2rem;
    text-align: center;
    display: grid;
    place-content: center;
    place-items: center;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgba(202, 92, 221, 1);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid white;
    transition: 0.1s;
}
h2{
    font-family: Montserrat;
    color: white;
}